<!DOCTYPE html>
<html>
<head>
    <title>Admin Login - Scam Shield</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="dist/css/iziToast.min.css">
    <link rel="icon" type="icon" href="img/logo.png">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="animate/animate.min.css" rel="stylesheet">
    <link rel="icon" type="icon" href="img/ic_launcher.png">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script src="dist/js/iziToast.min.js" type="text/javascript"></script>
 </head>

 <body style="background-color: #1b1464;background-image: url('img/Polygon Luminary.svg');">


    <section id="admin_dashboard" class="shadow-lg">
        <center><img src="img/logo.png" alt="" style="width: 10%;"></center>
        <h3>Scam<span>Shield</span></h3>
        <h6>Admin Login</h6>
           
        <form id="login" name="form1" method="post">
            <input type="text" name="uname" id="uname" placeholder="Enter Username" class="form-control">
            <br>
            <input type="password" name="pword" id="pword" placeholder="Enter Password" class="form-control">
            <br>
            <button class="btn btn-primary btn-block btn-lg" id="save"><span class="bi bi-lock" id="lock"></span> <span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="width: 20px; height: 20px;display: none;"></span> Login</button>
        </form>
    </section>
    <script>
        const form = document.getElementById("login");
        form.addEventListener('submit', login);
        async function login(event){
            event.preventDefault();
           var btn = document.getElementById("save");
           btn.disabled = true;
           btn.innerHTML=  "Please wait..";
           
            const uname = document.getElementById('uname').value;
            const pword = document.getElementById('pword').value;
            const result = await fetch("/api/admin-login", {
                method: "POST",
                headers: {
                    'Content-type':'application/json'
                },
                body: JSON.stringify({
                    uname,
                    pword
                })
            }).then((res)=> res.json());

            if(result.status == "ok"){
                window.open('/dashboard','_self');
            }else{
                btn.disabled = false;
           btn.innerHTML=  "Login";
                iziToast.error({
                title: 'Error',
                message: 'Wrong Login Details',
                position: 'topLeft',
                animateInside: true,
                });
            }
        }
    </script>
</body>
</html>