<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Dashboard - Scam Shield</title>
    <link rel="icon" type="icon" href="img/ic_launcher.png">
    <script src="js/jquery.min.js"></script>
    <script src="js/sweetalert.js"></script>
    <link href="admin/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="admin/vendor/chartist/css/chartist.min.css">
    <link href="admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="admin/css/style.css" rel="stylesheet">
</head>
<body>
    <script>
        swal.fire({
         icon : 'success',
            type : 'success',
            title : 'Success',
            text : 'Operation performed successfully',
            confirmButtonColor: '#1b1464',
        }).then(function() {
           window.open("/view-report","_self");
       });
  
</script>
    
</body>
</html>